Package: autopath-xv-dbgsym
Source: autopath-xv
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Your Name <wiratamareyhan85@gmail.com>
Installed-Size: 27
Depends: autopath-xv (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for autopath-xv
Build-Ids: d343ca927ad0a8f04f28c49ad99fb4e2f45da5cd
